name: learn-github-actions
on: [push]
jobs:
  write-and-upload:
    name: Create and upload artifacts
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - uses: rymndhng/release-on-push-action@master
        with:
          bump_version_scheme: minor
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - name: Create build artifacts
        run: |
          chmod +x .github/scripts/create.sh
          .github/scripts/create.sh
      - name: Upload build artifacts
        uses: actions/upload-artifact@v3.0.0
        with:
          name: artifacts
          path: ~/artifacts
          if-no-files-found: error
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-1
      - name: upload to s3
        run: aws s3 cp ~/artifacts s3://bucketandrewtest/app_build